.nav{
    background-color: lightseagreen;
    display: flex;
}
h1{
    color: white;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-link{
    justify-content: space-around;
    display: flex;
    position: absolute;
    right: 50px;
    align-items: center;
    top:15px;
    
}
button{
    background-color: lightseagreen;
    color:black;
    border: lightseagreen;
    cursor: pointer;
}